<template>
  <div id="app">
    <div class="app" v-if="isAuthenticated" key="app">
      <Header />
      <div class="app__wrapper">
        <div class="app__sidebar">
          <Sidebar />
        </div>
        <div class="app__content">
          <router-view />
        </div>
      </div>
    </div>
    <router-view v-else key="loggin" />
  </div>
</template>

<script>
import Header from "@/components/Header/Header";
import Sidebar from "@/components/Sidebar/Sidebar";
import { mapState } from "vuex";
export default {
  name: "App",
  components: {
    Sidebar,
    Header
  },
  computed: {
    ...mapState(["isAuthenticated"])
  }
};
</script>

<style lang="scss" scoped>
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &__wrapper {
    display: flex;
    width: 100%;
    flex-grow: 1;
  }
  &__sidebar {
    flex: 1;
    padding: 24px 0 0 0;
    border-right: 1px solid rgba(#53a8ff, 0.1);
  }
  &__content {
    flex: 4;
    padding: 24px 16px 0 16px;
  }
}
</style>
