<template>
  <div>
    <h1>
      {{ isEdit ? "Изменить" : "Добавить" }} статью
      <el-switch v-model="article.published" active-text="Опубликовано">
      </el-switch>
    </h1>
    <el-form class="form">
      <label class="el-form-item__label">Заголовок</label>
      <el-input label="" v-model="article.title"></el-input>
      <label class="el-form-item__label">Тэг</label>
      <el-input label="" v-model="article.tag"></el-input>
      <hr />
      <ImageUploader
        :image="article.thumbnail"
        @uploaded="article.thumbnail = $event"
      />
      <hr />
      <label class="el-form-item__label">Синопсис</label>
      <CustomEditor height="200px" v-model="article.synopsis" />
      <hr />
      <label class="el-form-item__label">Текст статьи</label>
      <CustomEditor height="600px" v-model="article.text" />
      <div class="form__actions">
        <el-button type="primary" @click="onSubmit">{{
          isEdit ? "Изменить" : "Добавить"
        }}</el-button>
        <el-button @click="back">Назад</el-button>
      </div>
    </el-form>
  </div>
</template>

<script>
import CustomEditor from "@/components/CustomEditor/";
import ImageUploader from "@/components/ImageUploader/ImageUploader";
import { mapActions, mapState } from "vuex";
import { format } from "date-fns";
import ruLocale from "date-fns/locale/ru/";
import ROUTES from "@/router/utils/routes";
export default {
  name: "ArticlesForm",
  components: {
    CustomEditor,
    ImageUploader
  },
  data() {
    return {
      article: {
        title: "",
        tag: "",
        thumbnail: "",
        text: "",
        synopsis: "",
        published: false
      }
    };
  },
  async created() {
    if (this.$route.params.id) {
      const id = this.$route.params.id;
      const { item } = await this.getArticle(id);
      this.article = { ...item };
    }
  },
  computed: {
    ...mapState("article", ["articlesInfo"]),
    isEdit() {
      return !!this.$route.params.id;
    }
  },
  methods: {
    ...mapActions("article", ["articleHandler"]),
    ...mapActions(["httpController"]),
    back() {
      this.$router.push({ name: ROUTES.ARTICLES_LIST }, () => {});
    },
    async onSubmit() {
      const { published, title, synopsis, text, tag, thumbnail } = this.article;
      const json = {
        published,
        title,
        thumbnail,
        synopsis,
        text,
        date: format(new Date(), "d MMMM yyyy", {
          locale: ruLocale
        }),
        tag
      };
      if (this.isEdit) json.id = this.$route.params.id;
      await this.articleHandler({ ...json, isEdit: this.isEdit });
      this.back();
    },

    async getArticle(id) {
      const topic = "article/get";
      const json = { id };
      try {
        return await this.httpController({ topic, json, type: "post" });
      } catch (error) {
        console.error(`Ошибка в запросе ${topic}`, error);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
h1 {
  display: flex;
  flex-direction: column;
}
/deep/ .el-switch {
  margin: 24px 0 0 0;
}
/deep/.el-form-item__label {
  display: block;
  width: 100%;
  text-align: left;
}
hr {
  display: block;
  width: 100%;
  background: rgba(83, 168, 255, 0.1);
  border: none;
  height: 1px;
  margin: 24px 0 16px 0;
}

.form {
  margin: 8px 0 0 0;
  &__actions {
    margin: 24px 0;
  }
}
</style>
