<template>
  <li class="item">
    <h3 class="item__title">
      {{ info.title }}
    </h3>
    <span class="item__date">{{ info.date }}</span>
    <div class="item__text" v-html="info.synopsis"></div>
    <div class="item__actions">
      <el-button
        type="primary"
        icon="el-icon-edit"
        size="small"
        circle
        @click="$emit('edit', info.id)"
      ></el-button>
      <el-button
        :type="info.published ? 'primary' : ''"
        icon="el-icon-view"
        size="small"
        circle
        @click="
          $emit('toggle-visibility', {
            id: info.id,
            published: !info.published
          })
        "
      ></el-button>
      <el-button
        type="primary"
        icon="el-icon-delete"
        size="small"
        circle
        @click="$emit('delete', info.id)"
      ></el-button>
    </div>
  </li>
</template>

<script>
export default {
  name: "ArticlesItem",
  props: {
    info: {
      type: Object,
      default: () => ({})
    }
  }
};
</script>

<style lang="scss" scoped>
.item {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 24px;
  padding: 8px 12px;
  border-radius: 6px;
  margin: 0 -12px;
  &:hover {
    background: #2a384c;
  }
  &__actions {
    top: 12px;
    right: 12px;
    position: absolute;
  }
  &__title {
    display: inline-flex;
    align-items: center;
    font-weight: 100;
    color: #fff;
  }
  &__date {
    margin: 6px 0;
    font-size: 14px;
    opacity: 0.5;
  }
  &__text {
    display: -webkit-box;
    font-size: 14px;
    color: #fff;
    max-height: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }
  &__actions {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s linear, visibility 0.25s linear;
    z-index: 4;
  }
  &:hover {
    .item__actions {
      opacity: 1;
      visibility: visible;
    }
  }
}
</style>
