<template>
  <div>
    <h1>Список статей</h1>
    <el-button @click="toCreateForm" class="button" type="primary">
      Добавить статью
    </el-button>
    <ul class="list">
      <ArticlesItem
        v-for="item in list"
        :key="item.id"
        :info="item"
        @delete="onDelete"
        @edit="onEdit"
        @toggle-visibility="toggleVisibility"
      />
    </ul>
    <ArticlesDeleteModal
      :show="showDeleteModal"
      @close="showDeleteModal = false"
    />
  </div>
</template>

<script>
import ArticlesItem from "@/views/ArticlesViews/ArticlesItem";
import ArticlesDeleteModal from "@/views/ArticlesViews/ArticlesDeleteModal";
import { mapActions, mapState } from "vuex";
import ROUTES from "@/router/utils/routes";
export default {
  name: "ArticlesList",
  components: {
    ArticlesItem,
    ArticlesDeleteModal
  },
  data() {
    return {
      showDeleteModal: false
    };
  },
  created() {
    this.getArticles();
  },
  computed: {
    ...mapState("article", ["articlesInfo"]),
    list() {
      return this.articlesInfo?.articles ?? [];
    }
  },
  methods: {
    ...mapActions("article", [
      "getArticles",
      "getCurrentItem",
      "toggleVisibility"
    ]),
    toCreateForm() {
      this.$router.push({ name: ROUTES.ARTICLES_ADD }, () => {});
    },
    onDelete(id) {
      const item = this.list.find(_ => _.id == id);
      this.getCurrentItem(item);
      this.showDeleteModal = true;
    },
    onEdit(itemID) {
      this.$router.push({ name: ROUTES.ARTICLES_EDIT, params: { id: itemID } });
    }
  }
};
</script>

<style lang="scss" scoped>
.button {
  margin: 24px 0 0 0;
}

.list {
  margin: 40px 0 0 0;
}
</style>
