<template>
  <el-dialog title="Удаляем?" :visible="show" width="30%" @close="onClose">
    <span>{{ currentItem.title }}</span>
    <span slot="footer" class="dialog-footer">
      <el-button @click="onClose">Отмена</el-button>
      <el-button type="primary" @click="onSubmit(currentItem.id)"
        >Удалить</el-button
      >
    </span>
  </el-dialog>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  name: "ArticlesDeleteModal",
  props: {
    show: Boolean
  },
  computed: {
    ...mapState("article", ["currentItem"])
  },
  methods: {
    ...mapActions("article", ["getCurrentItem", "getArticles"]),
    ...mapActions(["httpController", "notify"]),
    onClose() {
      this.$emit("close");
      this.getCurrentItem({});
    },
    async onSubmit(id) {
      const topic = "article/delete";
      const json = { id };
      try {
        await this.httpController({ topic, json, type: "delete" });
        this.notify({
          type: "success",
          title: "Удалено",
          message: "Статья удалена"
        });
        this.getArticles();
      } catch (error) {
        console.error(`Ошибка в запросе ${topic}`, error);
      } finally {
        this.onClose();
      }
    }
  }
};
</script>
