@import 'reset';
@import 'mixins';
html {
  @include scrollbars(5px, #00adff);
}
body {
  font-family: "Fira Code", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-size: 16px;
  line-height: 1.6;
}

.container {
  max-width: 1360px;
  padding: 0 15px;
  margin: 0 auto;
}

.fade-enter-active,
.fade-leave-active {
  transition-property: opacity;
  transition-duration: .5s;
}

.fade-enter-active {
  transition-delay: .5s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

.tox-statusbar__branding {
  display: none;
}