<template>
  <el-upload
    action="#"
    class="avatar-uploader"
    :http-request="onSubmit"
    :show-file-list="false"
    :on-success="handleAvatarSuccess"
    :before-upload="beforeAvatarUpload"
  >
    <img v-if="image" :src="image" class="avatar" />
    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
  </el-upload>
</template>

<script>
import { mapActions, mapState } from "vuex";
import axios from "axios";
export default {
  data() {
    return {
      actionsURL: `${this.serverURL}/upload`,
      imageUrl: ""
    };
  },
  props: {
    image: String
  },
  computed: {
    ...mapState(["token", "serverURL"])
  },
  methods: {
    ...mapActions(["notify"]),
    handleAvatarSuccess() {
      this.notify({
        type: "success",
        title: "Загружено"
      });
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === "image/jpeg";
      const isLt2M = file.size / 1024 / 1024 < 2;

      if (!isJPG) {
        this.notify({
          type: "error",
          title: "Ошибка",
          message: "Не является форматом image/jpeg"
        });
      }
      if (!isLt2M) {
        this.notify({
          type: "error",
          title: "Ошибка",
          message: "Превышает размер в 2мб"
        });
      }
      return isJPG && isLt2M;
    },
    async onSubmit({ file }) {
      const formData = new FormData();
      formData.append("file", file);
      const topic = `${this.serverURL}/upload`;
      axios.defaults.headers.common["Authorization"] = this.token;
      try {
        const { data } = await axios.post(topic, formData);
        this.$emit("uploaded", `${this.serverURL}/${data.link}`);
      } catch (error) {
        this.notify({
          type: "error",
          title: "Ошибка",
          message: error.message
        });
      }
    }
  }
};
</script>

<style>
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
</style>
