<template>
  <header class="header">
    <span class="header__date">{{ time }}</span>
    <el-button @click="onLogout" type="primary" size="mini">Выйти</el-button>
  </header>
</template>

<script>
import { mapActions } from "vuex";
import { format } from "date-fns";
import ruLocale from "date-fns/locale/ru/";
import ROUTES from "@/router/utils/routes";
export default {
  name: "Header",
  data() {
    return {
      time: ""
    };
  },
  methods: {
    ...mapActions(["logout"]),
    onLogout() {
      this.logout();
      this.$router.push({ name: ROUTES.LOGIN }, () => {});
    }
  },
  created() {
    setInterval(() => {
      this.time = format(new Date(), "d MMMM, HH:mm:ss", {
        locale: ruLocale
      });
    }, 1000);
  }
};
</script>

<style lang="scss" scoped>
.header {
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
  border-bottom: 1px solid rgba(83, 168, 255, 0.1);
}
</style>
