<template>
  <aside class="aside">
    <el-menu>
      <el-menu-item
        v-for="(nav, i) in navigate"
        :class="{ 'is-active': isActive(nav) }"
        :index="`${i}_`"
        :key="i"
        @click.native="onChangeRoute(`${nav.toUpperCase()}`)"
      >
        <i :class="`el-icon-${navigateMap[nav].icon}`"></i>
        <span>{{ navigateMap[nav].name }}</span>
      </el-menu-item>
    </el-menu>
  </aside>
</template>

<script>
import ROUTES from "@/router/utils/routes";
export default {
  name: "Sidebar",
  created() {
    this.navigateMap = {
      home: {
        name: "Домой",
        icon: "house"
      },
      articles: {
        name: "Статьи",
        icon: "notebook-1"
      },
      about: {
        name: "Информация",
        icon: "info"
      },
      photos: {
        name: "Картинки",
        icon: "files"
      }
    };
    this.navigate = [ROUTES.HOME, ROUTES.ARTICLES, ROUTES.ABOUT, ROUTES.PHOTOS];
  },
  methods: {
    onChangeRoute(route) {
      this.$router.push({ name: ROUTES[route] }, () => {});
    }
  },
  computed: {
    isActive() {
      return route => this.$route.matched[0]?.name.includes(route);
    }
  }
};
</script>

<style lang="scss" scoped>
.aside {
  border: 0;
  width: 100%;
  min-width: 240px;
  height: 100%;
  .el-menu {
    border: 0;
  }
}
</style>
