<template>
  <div class="home">
    <h1 class="home__title">Заметки</h1>
    <CustomEditor v-model="note.text" @input="isDisabled = false" />
    <el-button
      :disabled="isDisabled"
      type="primary"
      class="home__save"
      @click.prevent="onSaveNote"
    >
      Сохарнить
    </el-button>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import CustomEditor from "@/components/CustomEditor/";
export default {
  name: "Home",
  components: {
    CustomEditor
  },
  data() {
    return {
      isDisabled: true,
      note: {
        value: ""
      }
    };
  },
  async created() {
    const note = await this.getNote();
    this.note = note;
  },
  methods: {
    ...mapActions("note", ["saveNote", "getNote", "updateNote"]),
    ...mapActions(["notify"]),
    async onSaveNote() {
      const { note } = this;
      if (note.id) await this.updateNote({ text: note.text, id: note.id });
      else await this.saveNote({ text: note.text });
      this.notify({
        type: "success",
        title: "Сохранено",
        message: "Заметки сохранены"
      });
      this.isDisabled = true;
    }
  }
};
</script>

<style lang="scss" scoped>
.home {
  display: flex;
  flex-direction: column;
  &__title {
    margin-bottom: 20px;
  }
  &__save {
    align-self: flex-start;
    margin: 16px 0;
  }
}
</style>
