<template>
  <div class="container">
    <div class="login">
      <el-form ref="form" class="login__form">
        <el-form-item label="E-mail">
          <el-input type="email" autocomplete="off" v-model="email"></el-input>
        </el-form-item>
        <el-form-item label="Пароль">
          <el-input
            type="password"
            autocomplete="off"
            v-model="password"
          ></el-input>
        </el-form-item>
        <el-form-item>
          <el-button
            type="primary"
            native-type="submit"
            @click.prevent="onSubmit"
            >Войти</el-button
          >
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import { mapActions, mapMutations } from "vuex";
import ROUTES from "@/router/utils/routes";
export default {
  name: "Login",
  data() {
    return {
      email: "",
      password: ""
    };
  },
  computed: {
    isValid() {
      return !!this.email && !!this.password;
    }
  },
  methods: {
    ...mapActions(["httpController"]),
    ...mapMutations(["setField"]),
    async onSubmit() {
      const { email, password } = this;
      const topic = "admin/login";
      const json = { email, password };
      try {
        const { token: value } = await this.httpController({
          topic,
          json,
          type: "post"
        });
        localStorage.setItem("token", value);
        this.setField({ field: "token", value });
        this.setField({ field: "isAuthenticated", value: true });
        this.$router.push({ name: ROUTES.HOME }, () => {});
      } catch (error) {
        console.error(error);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  &__form {
    width: 100%;
    max-width: 300px;
  }
}
</style>
