<template>
  <div class="images">
    <div class="images__image" v-for="(photo, i) in photos" :key="i">
      <img :src="`${serverURL}/images/${photo}`" alt="" />
      <el-button
        @click="deletePhoto(photo)"
        class="images__delete"
        type="danger"
        icon="el-icon-delete"
        round
        circle
      ></el-button>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { mapActions, mapState } from "vuex";
export default {
  name: "Photos",
  computed: {
    ...mapState(["serverURL", "token"])
  },
  data: () => ({
    photos: []
  }),
  created() {
    axios.defaults.headers.common["Authorization"] = this.token;
    this.getPhotos();
  },
  methods: {
    ...mapActions(["httpController"]),
    async getPhotos() {
      const topic = `${this.serverURL}/upload/get`;
      try {
        const {
          data: { files }
        } = await axios.get(topic);
        this.photos = files;
      } catch (error) {
        console.error(`Ошибка в запросе ${topic}`, error);
      }
    },
    async deletePhoto(name) {
      const topic = `${this.serverURL}/upload/delete`;
      try {
        await axios.delete(topic, { data: { name } });
        this.getPhotos();
      } catch (error) {
        console.error(`Ошибка в запросе ${topic}`, error);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: -8px;
  &__image {
    position: relative;
    max-width: 25%;
    margin: 8px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:hover {
      .images__delete {
        opacity: 1;
      }
    }
  }
  &__delete {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 41px;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  }
}
</style>
