<template>
  <editor
    v-bind="$attrs"
    :apiKey="key"
    :init="config"
    @input="$emit('input', $event)"
  >
  </editor>
</template>

<script>
import { mapState } from "vuex";
import Editor from "@tinymce/tinymce-vue";
import { config } from "./settings";
import axios from "axios";
export default {
  name: "CustomEditor",
  components: {
    editor: Editor
  },
  props: {
    height: {
      type: String,
      default: "calc(100vh - 240px)"
    }
  },
  created() {
    this.key = process.env.VUE_APP_TINY_API_KEY;
    this.config = {
      ...config,
      height: this.height,
      images_upload_handler: async (blobInfo, success) => {
        const file = blobInfo.blob();
        const { data } = await this.onUpload(file);
        success(`${this.serverURL}/${data.link}`);
      }
    };
  },
  computed: {
    ...mapState(["token", "serverURL"])
  },
  methods: {
    async onUpload(file) {
      const formData = new FormData();
      formData.append("file", file);
      const topic = `${this.serverURL}/upload`;
      axios.defaults.headers.common["Authorization"] = this.token;
      return await axios.post(topic, formData);
    }
  }
};
</script>
